%h2 Set Password

= form_for(resource, as: resource_name, url: confirm_path) do |f|
  = devise_error_messages!

  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.hidden_field :confirmation_token, value: params[:confirmation_token]
  = f.submit 'Confirm user'
