%h2 Set Password for
= @user.email

= form_for(@user, as: resource_name, url: confirm_user_path) do |f|
  = devise_error_messages!

  = f.hidden_field :confirmation_token
  %br
  = f.label :password
  = f.password_field :password
  %br
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br
  = f.submit 'Confirm user'

= render 'devise/shared/links'
