.container
  .d-flex.align-items-center.justify-content-center.vh-100
    .form-border.lg-margin-form-border
      .d-flex.justify-content-center.mb-3
        %h4 Edit #{resource_name.to_s.humanize}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :first_name
          = f.text_field :first_name, class: 'form-control', placeholder: 'First name'
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :last_name
          = f.text_field :last_name, class: 'form-control', placeholder: 'Last name'
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :display_name
          = f.text_field :display_name, class: 'form-control', placeholder: 'Nickname'
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :email
          = f.email_field :email, class: 'form-control', placeholder: 'Email'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation'
          - if @minimum_password_length
            .d-flex.justify-content-center.mt-1.mb-1
              = "#{@minimum_password_length} characters minimum"
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation'
        .mb-3
          .d-flex.justify-content-center.mb-1
            = f.label :current_password
          = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'
        .mb-3
          .d-flex.justify-content-center.mb-1
            Choose Avatar
          .d-flex.justify-content-center.mb-1
            = f.file_field :avatar, id: 'avatar-sign-up', class: 'w-75'
        .mb-3.d-flex.justify-content-center
          = f.submit 'Update', class: 'btn btn-success w-100'
      .d-flex.justify-content-center.mb-1
        #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default'}

