.container-fluid
  .row
    .sign-up-left.col-lg-3.col-md-12.col-sm-12
      %i.fa.fa-comment-o.fa-2x
        %span
          = link_to 'Socket Chat', root_path, class: 'navbar-brand header-company-name', title: 'Socket Chat'
      %h1.text-center Create a new workspace
      .form-group
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          %label
            Your
            %b email address
          = f.email_field :email, placeholder: 'mail@example.com', class: 'form-control-lg'
          .sing-up-button
            = f.submit 'Next', class: 'btn btn-secondary btn-lg'
    .col-lg-9.col-md-12.col-sm-12
      .sign-up-right.text-center
        .find-workspace
          %span Looking to join an existing workspace?
          = link_to 'Find workspace.', '#', class: 'btn btn-outline-light btn-lg'
        = image_tag(asset_pack_path('images/chat-2.png'))