%section.welcome-page-index
  .container
    .row
      .d-none.d-lg-block.col-lg-5
        = image_tag(asset_pack_path("images/home_illo.png"), class: "welcome_main_index")
      .d-none.d-lg-block.col-md-1
      .col-md-12.col-lg-6
        %h1.welcome-index-main-title
          Lorem Ipsum
          %br
            Aperiam
        %p.welcome-index-main-text
          On the other hand, we denounce with righteous,
          indignation and dislike men who are so beguiled,
          and demoralized by the charms of pleasure of,
          the moment, so blinded by desire, that they,
          cannot foresee the pain and trouble that,
          are bound to ensue; and equal blame
        %button.btn.btn-primary.btn-lg.btn-get-started
          GET STARTED
        %p.display-as-mini
          Already using Socket Chat?
          = link_to 'Sign in.', new_user_session_path
      .d-md-block.d-lg-none.col-md-12
        = image_tag(asset_pack_path("images/home_illo.png"), class: "welcome_main_index")
%section.welcome-index-section2.welcome-index-lighter-gray
  %h2.welcome-index-section2-title.u-margin-top--flush
    But in certain circumstances
  %p.u-margin-bottom--x-large
    The wise man therefore always holds in these matters to this principle of selection he rejects pleasures
  %button.btn.btn-discover-why.btn-lg
    DISCOVER WHY
  .container.container-with-images
    .row
      .col-sm-4.welcome-index-logo-item.welcome-index-logo-item-bottom
        = image_tag(asset_pack_path("images/welcome_index_logo_1.png"))
      .col-sm-4.welcome-index-logo-item.welcome-index-logo-item-bottom
        = image_tag(asset_pack_path("images/welcome_index_logo_2.png"))
      .col-sm-4.welcome-index-logo-item.welcome-index-logo-item-bottom-without-line.welcome-index-logo-item-right-top
        = image_tag(asset_pack_path("images/welcome_index_logo_3.png"))
    .row
      .col-sm-4.welcome-index-logo-item.welcome-index-logo-item-bottom.welcome-index-bottom-logo
        = image_tag(asset_pack_path("images/welcome_index_logo_4.png"))
      .col-sm-4.welcome-index-logo-item.welcome-index-logo-item-bottom.welcome-index-bottom-logo
        = image_tag(asset_pack_path("images/welcome_index_logo_5.png"))
      .col-sm-4.welcome-index-logo-item.welcome-index-logo-item-bottom.welcome-index-logo-item-bottom-without-line.welcome-index-bottom-logo
        = image_tag(asset_pack_path("images/welcome_index_logo_6.png"))
.d-flex.justify-content-around.try_it_for_free.padding-index
  %div
    %h3.welcome-index-try-free
      Try it for free
    %p.welcome-index-signup-content
      Already using Socket Chat?
      = link_to 'Sign in.', new_user_session_path
  %button.btn.btn-primary.btn-lg.btn-get-started
    GET STARTED
= render 'layouts/footer'
